@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --text-color-rgb: 0, 0, 0;
  --cards-bg-rgb: 200,200,200;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --text-color-rgb: 255, 255, 255;
    --cards-bg-rgb: 30 41 59;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.description {
  color: rgb(var(--text-color-rgb));
  @apply text-2xl;
}

.workflow-card:first-child{
  margin-left: 0;
}
.workflow-card{
  @apply flex flex-col flex-1 relative bg-opacity-20 bg-slate-400 dark:bg-slate-800 backdrop-blur-md backdrop-filter px-3 py-5 text-center -z-10;
}
.workflow-card::after{
  content: '';
  position: absolute;
  bottom: 20%;
  right: -20%;
  width: 25%;
  height: 25%;
  z-index: 50;
  transform: translate(-50%, 50%);
  /* background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)); */
  background: orange;
  clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
}
.workflow-card:last-child::after{
  display: none;
}
.workflow-card .title{
  @apply text-lg font-bold;
}
.workflow-card > div:first-child {
  @apply flex flex-col flex-1;
}
.workflow-card > div {
  @apply flex flex-col;
}
.workflow-card > div:nth-child(2){
  @apply text-xl text-center mt-8 flex mb-auto;
}
.workflow-card>div:nth-child(2) > span {
  @apply text-sm font-bold block uppercase;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
